---
write-kubeconfig-mode: "0600"
secrets-encryption: true
node-label:
  - "microcrm-environment={{ cluster_environment }}"
  - "microcrm-managed-by=ansible"
  - "microcrm.io/environment-role=staging"
