---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_server_gitlab_agent_secret_name }}
  namespace: {{ k3s_server_gitlab_agent_namespace }}
  labels:
    app.kubernetes.io/managed-by: ansible
type: Opaque
stringData:
  token: {{ k3s_server_gitlab_agent_token | to_json }}
