[defaults]
inventory = inventory/poc.aws_ec2.yml
roles_path = roles
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
callbacks_enabled = ansible.builtin.timer

[inventory]
enable_plugins = amazon.aws.aws_ec2, ansible.builtin.auto, ansible.builtin.yaml, ansible.builtin.ini
