# Charge par défaut l'inventaire EC2 dynamique et les rôles locaux du projet.
[defaults]
inventory = inventory/poc.aws_ec2.yml
roles_path = roles
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
callbacks_enabled = ansible.builtin.timer

# Limite les formats d'inventaire acceptés et active explicitement le plugin AWS.
[inventory]
enable_plugins = amazon.aws.aws_ec2, ansible.builtin.auto, ansible.builtin.yaml, ansible.builtin.ini
