---
server: "https://{{ k3s_agent_server_address }}:6443"
token: "{{ k3s_agent_token }}"
node-label:
  - "microcrm-environment={{ cluster_environment }}"
  - "microcrm-managed-by=ansible"
  - "microcrm.io/environment-role=production"
